.casino-home {
    height: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    place-items:center;
    box-sizing: border-box;
}   

.casino-home-games {
    width: 90%;
    min-width: 465px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    place-items: center;
}

#game-selection-menu-search-bar {
    width: 50%;
    max-width: 528px;
    min-width: 465px;
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    align-self: start;
}


.casino-home-category-wrapper {
    max-width: 528px;
    min-width: 465px;
    width: 50%;
    align-self: start;

    font-size: 1.2em;
}