.countdown-container {
    align-self: center;
    height: fit-content;
    width: 65%;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.number-unit-box {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 6px;  
    font-weight: 400;
}

.number-span {
    height: 40px;
    width: 60px;
    background-color: var(--main-theme-color-one);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    font-size: 1.15rem;

    box-shadow: 2px 2px 1px 1px rgba( 0 0 0 / 0.1)
}

.unit-span {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.05rem;
}

.timer-colon {
    position: relative;
    bottom: 0px;
    font-size: 2rem;
    font-weight: 400;
}
