.form-label-container {
    display: flex;
    flex-direction: column;

    row-gap: 6px;
    min-width: 0;
    max-width: 100%;
}

.form-label-container input:focus {
    cursor:text;
}

@media screen and (max-width: 768px) {
    .form-label-container > input,
    .form-label-container > select {
        height: 32px;
    }
}