

/* Open */
/* Hamburger */
.hamburger-wrapper {
    position: absolute;
    z-index: 1;
    height: 36px;
    left: 12px;
    top: 10px;
}

#side-nav-bar-hamburger span {
    transition: all 1s ease;
}

#side-nav-bar-hamburger-arrow span {
    transition: all 0.7s ease;
}

#side-nav-bar-hamburger-arrow span:nth-child(1) {
    transform: rotateZ(-30deg);
    width: 40%;
    right: 7px;
    top: 0.5px;
}

#side-nav-bar-hamburger-arrow span:nth-child(2) {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

#side-nav-bar-hamburger-arrow span:nth-child(3) {
    transform: rotateZ(30deg);
    width: 40%;
    right: 7px;
    bottom: 0.5px;
}

.side-nav-bar-container {
    width: 160px;
    min-width: fit-content;
    height: 100vh;
    background-color: var(--main-theme-color);
    box-shadow: 3px 1px 4px var(--main-theme-color-black);
    font-size: 1rem;
    font-weight: 400;

    position:absolute;
    top: 60px;

    z-index: 1;

    display: flex;
    flex-direction: column;

    padding-left: 12px;
    padding-right: 6px;
    padding-top: 8px;

    row-gap: 15px;
}

#opened.side-nav-bar-container {
    animation: slideOpen 0.7s ease;
} 

@keyframes slideOpen {
    0% {
        left: -10%;
    }
    100% {
        left: 0%;
    }
}

#closed.side-nav-bar-container {
    animation: slideClosed 0.7s ease;
    animation-fill-mode: forwards;
}


@keyframes slideClosed {
    0% {
        left: 0%;
    }
    100% {
        left: -10%;
    }
}

.side-nav-bar-link-list-wrapper {
    background-color: var(--main-theme-color-one);
    
    border-radius: 6px;
    padding-bottom: 8px;
    min-width: fit-content;
}

.side-nav-bar-ul {
    height: 100%;
    min-width: fit-content;
}

.navbar-link {
    display: flex;
    place-items: center;
    column-gap: 6px;

    position: relative;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 10%;
}

#side-nav-bar-play-button {
    height: 36px;
}

.side-nav-bar-play-button-img {
    border-radius: 8px;
    border: 2px solid var(--main-theme-color-gold);
    box-shadow: 1px 2px 3px var(--main-theme-color-black);

    height: 36px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

.sidebar-play-text {
    position: absolute;
    top: 18px;
    left: 64px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-theme-color-black);
}

.link-with-icon {
    display: flex;
    column-gap: 6px;
    align-items: center;
    justify-content: center;

    color: var(--main-theme-text-color-one)
}

#navbar-link-casino{ 
}

#navbar-link-home {
}

/* hamburger animations */

