.titled-text-box-container {
    display: flex;
    flex-direction: column;
}

.titled-text-box-header {
    font-weight: 400;
    font-size: 1.4rem;
}

.titled-text-box-header::after {
    height: 2px;
    width: 100%;

    content:'';
    background-color: var(--main-theme-color-two);

    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}