.unsubscribe-page-img-container {
    width: 100%;
    background-color: var(--main-theme-color);

    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.unsubscribe-page-img {
    width: 12%;
}