.user-dashboard-main-panel {
    margin: 8px 16px;
    display: flex;
    flex-direction: column;

    row-gap: 10px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.content-wrapper-line-user-dashboard {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

.content-wrapper-line-user-dashboard::after,  
.content-wrapper-line-user-dashboard::before {
    height: 2px;
    width: 100%;

    content:'';
    background-color: var(--main-theme-color-three);

    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}


.user-dashboard-email-label {

}

* > h4 {
    font-weight: 400;
}

.user-dashboard-email-line {
    background-color: var(--main-theme-color-one);
    height: 32px;
    width: 60%;
    border-radius: var(--input-border-radius);
    border: solid var(--input-border-width) var(--main-theme-color-three);
    box-sizing: border-box;
    border: none;

    line-height: 32px;
    padding-left: 0.5em;
}

#user-dashboard-main-panel-override-id {

}

.confirmed-status-user-dashboard {
    width: fit-content;
    height: fit-content;

    border-radius: 4px;
    font-weight: 400;
    
    opacity: 85%;
}

#confirmed {
    background-color:rgb(3, 184, 48);
    background-image:linear-gradient(to right, rgb(3, 184, 48), rgb(45, 134, 75));

}

#unconfirmed {
    background-color: rgb(211, 52, 13);
    background-image:linear-gradient(to right, rgb(211, 52, 13), rgb(138, 21, 12));
}

.content-wrapper-flex-user-dashboard {
    display: flex;
    align-items: center;

    
    column-gap: 24px;
}

.user-dashboard-sidebar {
    display: flex;
    flex-direction: column;

    align-items: start;
    width: 120px;
    margin-top: 8px;
}

.user-dashboard-sidebar > a {
    font-weight: 450;

    padding-top: 10px;
    padding-bottom: 10px;
}


.user-dashboard-sidebar > button {
    background-color: rgba(0,0,0,0);
    width: 100%;
    text-align: left;

    font-weight: 450;
}

#user-dashboard-container {
    grid-template-columns: 1fr 10fr;
    padding: 16px;
}

#user-dashboard-side-panel-override-id {
    width: auto;
    height: 240px;
    padding: 0;
}

.user-dashboard-verify {
    width: fit-content;
    padding: 5px;
    font-weight: 400;
    border-radius: 4px;
}


#self-exclude-popup-container {
    max-width: 35vw;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding: 16px;

    background-color: var(--main-theme-color-five);
    border-color: var(--main-theme-color-two);

    border-radius: 8px;

    position: fixed;

    top: 200px;
}

.self-exclude-confirm-text-button-container {
    display: flex;

    column-gap: 24px;

    align-items: center
}

.self-exclude-popup-title-container {
    display: flex;

    justify-content: space-between;
}