.user-button {
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;

    border-radius: 15%;

    display:flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-theme-color-two);

}

.user-button-image {
    height: 80%;
    width: 80%;
}

.inside-square {
    display:flex;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 80%;

    border-radius: 15%;

    background-color: var(--main-theme-color-six);
}

#user-button-menu-modal-background {
    opacity: 0%;
}

.user-button-menu-modal-menu {
    z-index: 0;
    background-color:green;
    width: fit-content;
    height: fit-content;

    padding: 10px 10px 10px 10px;
}

.user-button-menu-wrapper {
    width: fit-content;
    height: fit-content;
}

.dropdown-img {
    height: 18px;
    padding-right: 8px;
}

#dropdown-triangle-align-left {
    left: 10%;
}