#account-actions-panel {
    position: relative;
    width: 70%;
    max-height: 25vh;
    height: fit-content;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    
    padding-bottom: 24px;
    row-gap: 24px;

    border-radius: 6px;
}

.account-actions-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: var(--main-theme-color);
    padding-bottom: 24px;
    padding-top: 24px;
}