.ad-2-blocks {
    display: flex;

    border-radius: 12px;
    border: solid 2px var(--main-theme-color-black);

    overflow: hidden;
    
    filter: drop-shadow(3px 3px 1px rgba(30, 30, 30, 0.3));

    font-size: 0.8rem;

}

.ad-block-1 {
    background-color: var(--main-theme-color-five);
}

.ad-block-2 {
    background-color: var(--main-theme-color-three);
    overflow: hidden;

    padding: 6px;

}
