.dashboard {
    position: relative;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: auto;

    grid-column-gap: 2%;
    box-sizing:border-box;
}

.dashboard-sidebar {
    width: 240px;
    height: auto;

    box-sizing: border-box;
    padding: 12px;

    display: flex;
    flex-direction: column;

    background-color: var(--main-theme-color-one);
    border-radius: var(--border-radius-rounding-default);

    --game-sidebar-option-height: 40px;
}

.dashboard-main-panel {
    border: solid 3px var(--main-theme-color-two);
    
    position: relative;
    width: 100%;

    box-sizing: border-box;
}