.search-bar-wrapper {
    height: 42px;
    width: 100%;

    position: relative;
}

.search-bar {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--main-theme-color-two);
    border-radius: 14px 14px 14px 14px;
    border: none;
    padding-left: 2.5em;

    font-size: 1rem;

    flex: 1;
}

.search-bar-icon {
    height: 60%;
    padding-left: 0.6rem; 
    position: absolute;
    left: 0%;
    bottom: 21%;

    flex: none;
}

.search-results-wrapper {
    position: absolute;
    top: var(--header-height);
    z-index: 1;

    width: var(--main-panel-width-one);
    max-width: var(--main-panel-width-max);
    min-width: var(--game-container-width);
    max-height: 336px;
    min-height: 120px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 8px;

    box-sizing: border-box;

    background-color: var(--main-theme-color-five);

    border-radius: 15px;

    display: grid;
    column-gap: 24px;
    row-gap: 12px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows: auto;

    overflow-y: auto;

    border: solid 4px var(--main-theme-color-three);
}


.search-results-wrapper::-webkit-scrollbar-track {
    width: 10px;
    height: 500px;
}