.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-menu-background {
    height: var(--header-height);
    width: 100%;

    background-color: var(--main-theme-color-five);
    border-style: solid;
    border-color: var(--main-theme-color-one);
    border-width: 4px 0px;

    position: relative;
    
    display: flex;
    justify-content: center;

    box-sizing: content-box;
}

#page-container-header-menu-content-wrapper-logged-out {
    grid-template-columns: 0.5fr 0.5fr;
}

.page-container-header-menu-content-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    grid-template-rows: 100%;

    width: var(--main-panel-width-one);
    height: 100%; 
}


.main-panel::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.main-panel {
    height: 100%;
    width: 100%;

    overflow-y: auto;

    flex-grow: 2;
    
    background-color: var(--main-theme-color-five);
    display: flex;
    justify-content:center;
}


.main-panel-content-wrapper {
    min-height: fit-content;
    max-width: var(--main-panel-width-one);
    padding-bottom: 48px;
    
    background-color: var(--main-theme-color);
    padding-top: 24px;    

    display: flex;
    align-items: start;
    justify-content: center;
}

#page-spacer {
    height: 32px;

    background-color: var(--main-theme-color-two);
}

#page-container-side-nav-hamburger {
    height: 36px;
    
    position: absolute;
    left: 24px;
    
    top: 13px;

    z-index: 1;
}

@media screen and (max-width: 768px) {
    .main-panel-content-wrapper {
        width: 100%;
        padding-left: var(--mobile-main-panel-padding);
        padding-right: var(--mobile-main-panel-padding);
    }

    .main-panel {
        width: 100%;
        min-width: 0;

    }

    .page-container-header-menu-content-wrapper {
        width: 100%;
        padding-right: var(--mobile-main-panel-padding);
    }
}